body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#2bff00, #ffffff);
    /* background-image: radial-gradient(#e52e71,#ff8a00); */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.container > div {
    align-self: flex-start;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}
input[type=checkbox]:checked + label {
    color:red;
    text-decoration: line-through;
  }